*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} 

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.navbar{
  border-bottom: 1px solid #3e3e3e;
  box-shadow: 0px 1px 7px #3e3e3e
}

li :hover{
  border-bottom: 3px solid #00aced;
}

.icon{
  padding-right: 5px;
  font-size: 20px;
}

.icon-twitter{
  color: #00aced;
  font-size: 25px;
}

.icon-search{
  padding-left: 2px;
  padding-right: 15px;
}

main{
  background-color: rgb(197, 228, 248);
  height: 100%;
}

.profile{
  padding: 20px;
}

.top{ 
  background-color: #00aced;
  width: 300px;
  height: 95px;
}

.info{
  background-color: #FFFFFF;
  width: 300px;
  align-items: flex-end;
  padding: 5px 10px; 
}

.icon-user{
  height: 100px;
  width: 100px;
  font-size: 50px;
  padding: 15px 22px;
  background-color: #e4e4e4;
  border: #c7c7c7 solid 3px;
  border-radius: 50px;
  color: #FFFFFF;
  margin-right: 25px;
}

.assuntos{
  width: 300px;
  background-color: #FFFFFF;
  margin-left: 20px;
  padding: 10px;
}

.assuntos h5{
  font-weight: bold;
}

.hashtag{
  margin-top: 20px;
  font-size: 17px;
  color: #00aced;
  font-weight: bold;
}

.likes{
  margin-top: -20px;
  font-size: 12px;
  color: #5a5a5a;
}

.center{
  width: 650px;
  background-color: #FFFFFF;
  margin-top: 20px;
}

.input-user{
  padding: 20px;
  background-color: #E8F4FB;
}

#newTweet{
  background-color: #ffffff;
  border: 1px solid #00aced;
  border-radius: 10px;
  width: 610px;
  height: auto;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  color: #00aced;
  resize: none;
}

.comandos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#button{
  border-radius: 7px;
  border-style: none;
  background-color: #00aced;
  font-size: 15px;
  font-weight: 900;
  color: #FFFFFF;
  width: 80px;
  height: 30px;
  padding-top: 5px;
  text-align: center;
  align-self: flex-end;
  margin-top: 5px;
  margin-left: 25px;
}

#caracteres{
  color: #00aced;
  font-size: 18px;
  font-weight: 900;
  margin-top: 7px;
  margin-right: 25px;
  margin: 7px;
  border-radius: 8px;
}

.timeline{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#feed{
  font-size: 16px;
  font-weight: bold;
  color: #3e3e3e;
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: break-all;
}

#feed p{
  background-color: #ffffff;
  border-bottom: 1px solid rgb(185, 181, 181);
  padding: 10px;
  margin: 10px;
  width: 650px;
}

.hora{
  color: #888888;
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}